html {
font-family:Arial, Helvetica, sans-serif;
box-sizing: border-box;
margin-block-start:0;
margin-block-end:0;
}

body {
position:sticky;
margin:0px;
}

nav {
display:flex;
background-color:skyblue;
opacity: 0.8;
width:100%;
height:4em;
position:fixed;
margin-top:0px;
z-index: 1;
justify-content: center;
 }

nav li {
padding-right: 2em;
font-size:1.3em;
color:white;
text-transform: uppercase;
display:inline-block;
    }
    
a {
text-decoration: none;
color:white;
}

a:hover {
color:yellow;
}


header {
display:flex;
background-image: url("../blue.jpg");
background-repeat: no-repeat;
background-size:cover;
background-position:center;
height:400px;
width:100%;
border-bottom:2px solid white;
justify-content: center;
align-items: center;
 }

h1 {
color:white;
font-family:lobster;
font-size: 5em;
}

.intro {
background: rgb(2,0,36);
background: linear-gradient(303deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 15%, rgba(0,212,255,1) 100%);
height:400px;
text-align:center;
border-bottom:2px solid white;
}

.intro img {
margin-top:20px;
}

h2 {
margin-block-start:0;
margin-block-end:0;
text-align: center;
padding-top:1em;
color:white;
 }

p {
text-align: center;
color:white;
 }

.introcontainer {
display:flex;
justify-content: space-around;
gap:1em;
}

.introcontainer > * {
width:100%;
min-width:100px;
background-color:white;
border-top: solid 8px navy;
opacity:0.9;
}

.introcontainer p {
color:gray;
}


.team {
height:450px;
width:100%;
background-image: url("../team.jpg");
background-repeat: no-repeat;
background-size: cover;
text-align: center;
}

.team h2 
{
color:white;
margin-bottom:1em;
font-family: lobster;
font-size:2em;
}

.teamcontainer {
display:flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.teamcontainer img {
height:300px;
}

.footer {
background-color:gray;
color:white;
padding: 0.8em;
font-size: 0.8em;
}

.contact {
background: rgb(2,0,36);
background: linear-gradient(303deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 15%, rgba(0,212,255,1) 100%);
height:400px;
text-align:center;
}
.contact h2 
{
color:white;
margin-bottom:1em;
font-family: lobster;
font-size:2em;
}

.contactcontainer {
display:flex;
justify-content: center;
align-content:center;
}

.contactcontainer > * {
display: flex;
height:200px;
width:300px;
background-color: white;
flex-direction: column;
color:gray;
}

.contactcontainer p {
color:gray;
line-height: 0.1em;
}